<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>统计分析<small>会员数量</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>统计分析</el-breadcrumb-item>
            <el-breadcrumb-item>会员数量</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div id="app1">
        <el-date-picker
                v-model="value1"
                type="month"

                value-format="yyyy-MM"
                placeholder="选择日期时间">
        </el-date-picker>
        至
        <el-date-picker
                v-model="value2"
                type="month"

                value-format="yyyy-MM"
                placeholder="选择日期时间">
        </el-date-picker>
        <el-button type="primary" @click="findMemberByDate()">查询</el-button>
        <!--<input type="submit" value="查询所有会员" @click="push()">-->
    </div>
    <div class="app-container">
        <div class="box">
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="chart1" style="height:600px;"></div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script src="../plugins/echarts/echarts.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script >
    // 基于准备好的dom，初始化echarts实例


    new Vue({
        el: "#app1",
        data(){
            return {
                value1:'',
                value2:''
            }
        },
        data: {
            value1: '',
            value2: '',
        },
        methods: {

            findMemberByDate(){

                var myChart1 = echarts.init(document.getElementById('chart1'));
                var dateArray=[this.value1,this.value2];
                console.log(dateArray);
                axios.post("http://localhost:82/report/findMemberByDate.do?dateArray="+dateArray).then((response)=>{
                    console.log(response);
                    this.$message({
                        message:response.data.message,
                        type:response.data.flag?"success":"error"
                    });
                    myChart1.setOption(
                        {
                            title: {
                                text: '会员数量'
                            },
                            tooltip: {},
                            legend: {
                                data:['会员数量']
                            },
                            xAxis: {
                                data: response.data.data.months
                            },
                            yAxis: {
                                type:'value'
                            },
                            series: [{
                                name: '会员数量',
                                type: 'line',
                                data: response.data.data.memberCount
                            }]
                        });
                }).catch((err)=>{
                    console.log(err);
                })
            }
            // push(){
            //     axios.get("http://localhost:82/report/getMemberReport.do").then((res)=>{
            //         myChart1.setOption(
            //             {
            //                 title: {
            //                     text: '会员数量'
            //                 },
            //                 tooltip: {},
            //                 legend: {
            //                     data:['会员数量']
            //                 },
            //                 xAxis: {
            //                     data: res.data.data.months
            //                 },
            //                 yAxis: {
            //                     type:'value'
            //                 },
            //                 series: [{
            //                     name: '会员数量',
            //                     type: 'line',
            //                     data: res.data.data.memberCount
            //                 }]
            //             });
            //     });
            // }
        }


    });



    // 使用刚指定的配置项和数据显示图表。
    //myChart.setOption(option);

    /*axios.get("http://localhost:82/report/getMemberReport.do").then((res)=>{
        myChart1.setOption(
                            {
                                title: {
                                    text: '会员数量'
                                },
                                tooltip: {},
                                legend: {
                                    data:['会员数量']
                                },
                                xAxis: {
                                    data: res.data.data.months
                                },
                                yAxis: {
                                    type:'value'
                                },
                                series: [{
                                    name: '会员数量',
                                    type: 'line',
                                    data: res.data.data.memberCount
                                }]
                            });
    });*/
</script>

</html>
